.page_box{
  width: 100%;
  min-height: 100vh; 
  background-image: url("https://w0.peakpx.com/wallpaper/1002/456/HD-wallpaper-anime-forest-scenery-forest-anime-mountain-nature.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

